//-------------------------------------------- 
// BG Color Helpers
//--------------------------------------------

.bg-white{
 background-color: $color-white;
}

.bg-black, .bg-dark, .theme-black{
 background-color: $color-black;

  *{
    color: #fff;
  }
}

.bg-lightgrey{
 background-color: $color-lightgrey;
}

.bg-alpha{
  background-color: $color-alpha;
}
