//----------------------------------------------
// Fade In
//----------------------------------------------
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

//----------------------------------------------
// Fade Out
//----------------------------------------------
@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

//----------------------------------------------
//  Slide up
//----------------------------------------------
@keyframes slide-up{
  from {
    transform: translate3d(0,100%,0);
  }
  to {
    transform: translate3d(0,0,0);
  }
}

//----------------------------------------------
//  Spin
//----------------------------------------------
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}


