


//----------------------------------------------
//  Data-Scroll Seq
//  A sequential fade in for child nodes
//
//  @see   js/vendor/waypoints.js
//  @see   js/component/scroll-animations.js
//----------------------------------------------
[data-scroll-seq="li"], 
[data-scroll-seq="article"]{
  will-change: opacity;

  .oh .js-letters span{
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease;
    @include nth-trans-delay(45,0.045s);
  }
  .is-animated .oh  .js-letters span{
    opacity: 1;
  }
}

//----------------------------------------------
//  Data-Scroll Seq
//  A sequential fade in for child nodes
//
//  @see   js/vendor/waypoints.js
//  @see   js/component/scroll-animations.js
//----------------------------------------------
[data-scroll="stagger-in-slow"], 
[data-load="stagger-in-slow"]{
 will-change: opacity, transform;

  .oh span{
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease;
    @include nth-trans-delay(30,0.135s);
  }
  &.is-animated .oh  span, 
  body.is-loaded & .oh  span{
    opacity: 1;
  }
}


[data-load="stagger-in-delayed"]{
 will-change: opacity, transform;

  .oh span{
    display: inline-block;
    opacity: 0;
    transition: opacity 3s ease;
    @include nth-trans-delay(30,0.1935s);
  }
  &.is-animated .oh  span{
    opacity: 1;
  }
}


//----------------------------------------------
//  Data-Scroll : Stagger In Fast
//  A sequential fade in for child nodes
//
//  @see   js/vendor/waypoints.js
//  @see   js/component/scroll-animations.js
//----------------------------------------------
[data-scroll="stagger-in-fast"], 
[data-load="stagger-in-fast"]{
 will-change: opacity, transform;

  .oh span{
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease;
    @include nth-trans-delay(50,0.06s);
  }
  &.is-animated .oh  span, 
  body.is-loaded & .oh  span{
    opacity: 1;
  }
}

//----------------------------------------------
//  Data-Scroll
//  Stagger in
//
//  @see   js/vendor/waypoints.js
//  @see   js/component/scroll-animations.js
//----------------------------------------------
[data-scroll="stagger-in"]{
 will-change: opacity;

  .oh span{
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease;
    @include nth-trans-delay(45,0.035s);
  }
  &.is-animated .oh  span{
    opacity: 1;
  }
}
//----------------------------------------------
//  Data-Scroll: No Js
//  Fallback if no js
//
//  @see   js/vendor/waypoints.js
//  @see   js/component/scroll-animations.js
//  @group data-scroll
//----------------------------------------------
.no-js{
  [data-scroll], [data-scroll-seq], li{
    opacity:1 !important;
  }
}

.js-no-mobile, [data-scroll].js-no-mobile{
  opacity: 1 !important;
}