//----------------------------------------------
//  Page Transitions
//  Interactions on page out and page in.
//  Via js, we're adding an 'is-exiting' class
//  on page out, and on page in, we're adding
//  an 'is-loading' class, followed by 'is-loaded'.
//
//  @see js/components/_page-transitions.js
//----------------------------------------------
html, body{
  background-color: $color-dark;
}
main{
  background-color: $color-lightgrey;
}


//----------------------------------------------
//  Is Exiting Page
//----------------------------------------------

.is-exiting{

  main, .site-footer{
    animation: fade-out 1s 0.5s ease both;
    //opacity: 0;
    //transition: 0.5s 0.5s ease-in-out;
  }

  &.single-work article, &.single-work .post-footer{
    animation: fade-out 1.5s ease both;
  }

  // Sequentially fade shit out.,

  .work-promo__item * + *,
  .about-mast * + *,
  .js-letters * + *,
  .js-words * + *,
  .post,
  .next * + *,
  .post-mast__header * + *,
  .content  * + *,
  .mast__content * + *
  .gal * + *{
    animation: fade-out 0.5s ease both;
    @include nth-ani-delay(19, 0.1s);
  }

  // More Posts
  .more-posts, .next{
    animation: fade-out 0.5s 0.5s ease both;
  }
}


//----------------------------------------------
//  Is Loading
//  Interactions on page out and page in.
//  Via js, we're adding an 'is-exiting' class
//  on page out, and on page in, we're adding
//  an 'is-loading' class, followed by 'is-loaded'.
//
//  @see js/components/_page-transitions.js
//----------------------------------------------

main{
  opacity: 0;

  .is-loaded &{
    opacity: 1;
    transition: opacity 2s 0.1s ease;
  }
}
