//----------------------------------------------
//  Background Videos
//
//  Styles for backgorund videos, using vides.js
//
//  @see js/vendor/_vides.js
//-----------------------------------------------
@mixin bg-vid($position:absolute, $opacity:0.5, $reveal-amount:0.4){
  z-index: 1;
  position: $position;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  @include bg_overlay($color-dark, 1);

  &:after{
    animation: vid-reveal 2s 3s ease-in-out both;
  }



  video{
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    min-width: 100%;
    max-width: none;
    height: auto;
    min-height: 100%;
    object-fit:cover;
    opacity: $opacity;
  }

  @keyframes vid-reveal{
    0%{
      opacity: 1
    }
    100%{
      opacity: $reveal-amount;
    }
  }
}

//----------------------------------------------
//  Hide ios added play button
//-----------------------------------------------
.IIV::-webkit-media-controls-play-button,
 .IIV::-webkit-media-controls-start-playback-button {
   opacity: 0;
   pointer-events: none;
   width: 0;
 }

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}