
/*----------------------------------------
-SYNTAX HIGHLIGHTING
@description: syntax highlighting via Prisim.js

This build: 
http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+actionscript+handlebars+json+markdown+jsx+sass+scss
-----------------------------------------*/
code,kbd,pre,samp {
  font-family:$font-mono;
  _font-family:$font-mono;
  font-size:1em;
  line-height:1.6
}

pre code {
  white-space:-moz-pre-wrap;
  white-space:pre-wrap
}

pre {
  white-space:pre-wrap!important;
  font-size:.825em;
  padding:1.65rem;
  margin:0 0 1.5em;
  background:#021321;
  box-shadow:0 0 1px rgba(255,255,255,0.75);
  border-radius:4px;
  position:relative
}

code {
  color:#cdcdcd;
  white-space:pre!important;
  font-family:monospace
}

code[class*="language-"], 
pre[class*="language-"] {
  font-family: $font-mono;
  color: $color-white;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

.lt-ie9 code[class*="language-"], 
.lt-ie9 pre[class*="language-"] {
 color: #a6a6a6;
}

pre[class*="language-"], 
:not(pre)>code[class*="language-"] {
 background: #2B2B2B;
}

pre[class*="language-"] {
 padding: 1em;
 margin: 3em;
 overflow: auto;
 border-radius: 3px;

 @media (max-width: $mq-med){
  width: calc(100% + 20%);
  margin: 3em -10%;
  padding: 0 10%;
  border-radius: 0;
 }
}

.no-js  pre {
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

:not(pre)>code[class*="language-"], 
pre[class*="language-"]{

  pre{
    &::-webkit-scrollbar{
      -webkit-appearance: none;
      width: 3px;
      height: 3px;
      background: #ddd;
    } 
    &::-webkit-scrollbar-thumb{
      background-color: #000;
    }
    &::-webkit-scrollbar-track{
      background: #ddd;
    }
  }
  code{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    //padding: 0 5%;

  }
}

.lt-ie9 code[class*="language-"],
.lt-ie9 pre[class*="language-"] {
  color:#a6a6a6
}


abbr {
  font-variant:small-caps;
  font-weight:600;
  text-transform:lowercase;
  color:#cdcdcd
}

.token.property,.token.tag,.token.boolean,.token.number {
  color:#3caeca
}

.token.comment,.token.prolog,.token.doctype,.token.cdata {
  color:#444
}

.token.punctuation {
  color:#999
}

.namespace {
  opacity:.7
}

.token.property,.token.tag,.token.boolean,.token.number {
  color:#3caeca
}

.token.selector,.token.attr-name,.token.string {
  color:#E9134F
}

.token.operator,.token.entity,.token.url,.language-css
.token.string,.style .token.string {
  color:#FFF
}

.token.atrule,.token.attr-value,.token.keyword {
  color:#3caeca
}

.token.regex,.token.important {
  color:#e90
}

.language-scss .token.variable {
  color:#A78F8F
}

.language-scss .token.statement {
  color:#FF1000
}

.token.important {
  font-weight:600
}

.token.entity {
  cursor:help
}