//----------------------------------------------
// Post Content / Content
// Wrapper for basic content styles (mostly typographic)
//
// @group content
//-----------------------------------------------
.home-mast{
  position: relative;
  display: flex;
  align-items:center;
  height: 40em;
  max-height: 100vh;
  padding: 8em 0;
  color: #fff;
  background-color: $color-dark;

  @media (min-width: $mq-med) {
    height: 100vh;
    max-height: 100vh;
  }

  &:after{
    //@include pseudo-el(3);
    //position: absolute;
  }


  // Background
  &__bg{
    @include bg-img-abs(1);
    background-position: left;
    background-color: $color-dark;
    pointer-events:none;
    transition: opacity 4s 2s ease;
    opacity: 0;

    // &:after {
    //   content: '';
    //   position: absolute;
    //   z-index: 5;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   background-color: $color-dark;
    //   animation: home-mast-bg-fade-sm 4s ease-in-out both;
    //
    //   @media (min-width: $mq-med) {
    //     animation: home-mast-bg-fade-lg 7s ease-in-out both;
    //   }
    // }

    .is-loaded & {
      opacity: 0.3;
    }
    @media (min-width: $mq-med) {
      background-position: left;
      background-size: 75em;

      .is-loaded & {
        opacity: 0.6;
      }
    }
  }

  &__grid{
    z-index: 4;
    position: relative;
    @include flex-row($align:center);
  }

  // For Single Col Layout
  &__content{
    z-index: 4;
    position: relative;
    margin-top: 10%;

    @media (min-width: $mq-med) {
      margin-left: $h-mast-margin-left-med;
    }
    @media (min-width: $mq-large){
      margin-left: $h-mast-margin-left-lg;
    }
    @media (min-width: $mq-xlarge){
      margin-left: $h-mast-margin-left-xl;
    }
  }

  &__header{
    z-index: 3;
    position: relative;

    @media (min-width: $mq-med) {
      max-width: 50em;
      width: 90%;
    }
  }

  &__title{
    @include font-rwd(1.5em, 1.75em, 2em, 2.15em);
    line-height: 1.55;
    margin: 0;

    .js-letters span{
      min-width: 1em;
      display: inline-block;

      @media (min-width: $mq-med){
        min-width: 1.5em;
      }
    }

    .oh {
      margin-bottom: 0.05em;
    }
  }
}




@keyframes home-mast-bg-fade-sm {
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0.3;
  }
}

@keyframes home-mast-bg-fade-lg {
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0.4;
  }
}
