//----------------------------------------------
//  site-header - Setups
//----------------------------------------------
$header-height: 5em;
$header-height-sm: 4em;

// Color Theme Extends
%header-dark{
  color: #fff;
  background-color: $color-transparent;
}
%header-dark-bg{
  color: #fff;
  background-color: $color-dark;
}
%header-light{
  color: $color-dark;
  background-color: $color-transparent;
}
%header-light-bg{
  color: $color-dark;
  background-color: $color-lightgrey;

  .site-header__logo{
    @include link-styles($color-dark, $color-grey);
  }
}

// Animations
@keyframes nav-down {
  0%   { transform: translate3d(0,-$header-height,0); }
  100% { transform: translateed(0,0,0); }
}
@keyframes nav-up {
  0%   { transform: translate3d(0,0,0); }
  100% { transform: translate3d(0,-$header-height,0); }
}


//----------------------------------------------
//  site-header
//  Our main header element and navigations
//----------------------------------------------
.site-header {
  z-index: 9;
  position: fixed;
  top:0;
  display: block;
  width: 100%;
  padding: 1em 0;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease;
  @include engineGPU('position');

  .scrolling-down &{
    transition: background-color 0.5s 0.5s ease, color 0.5s 0.5s ease;
    animation: nav-up ease-in-out .3s .1s both;
  }

  .scrolling-up &{
    animation: nav-down ease-in-out .3s .1s both;
  }

  .is-exiting.scrolling-up &{
    opacity: 0;
    transition: opacity 0.75s 0.5s ease;
  }
  
  // Container
  &__grid{
    position: relative;
    display: flex;
    align-content: center;
    margin: 0 auto;
    width: $grid-max-width-xl;
    max-width: $grid-max-width-xl;
  }


//----------------------------------------------
//  Site-Header__Brand (logo)
//  Logo link wrap and logo svg.
//----------------------------------------------
  &__logo{
    @include link-styles($color-light, $color-white);
    
    .icon-shield{
      font-size: 1.5em;
    }

    .theme-light &{
      @include link-styles($color-dark, $color-grey);
    }
  }

//----------------------------------------------
//  Site-Header__Nav
//----------------------------------------------
  &__nav{
    display: flex;
    margin-left: auto;
    $color-current: currentColor;

    a{
      opacity: 0;
      margin-left: 1em;
      padding: 0 0.1em;
      text-transform: lowercase;
      line-height: 2;
      @include link-nav();

      .is-exiting &, .is-loaded.is-exiting &{
        opacity: 0;
        transition: opacity 1s ease;
        @include nth-trans-delay(4, 0.2s);
      }


      .is-loaded &{
        opacity: 1;
        transition: opacity 1s ease;
        @include nth-trans-delay(4, 0.15s);
      }
    }
  }
}


.theme-dark, .page-blog{
  .site-header{
    @extend %header-dark;
  }
  &.scrolling-up .site-header,
  &.scrolling-down .site-header{
    @extend %header-dark-bg;
  }
}


.theme-light{
  .site-header{
    @extend %header-light;
  }
  &.scrolling-up .site-header,
  &.scrolling-down .site-header{
    @extend %header-light-bg;
  }
}

.theme-dark-light{
  .site-header{
    @extend %header-dark;
  }
  &.scrolling-up .site-header,
  &.scrolling-down .site-header{
    @extend %header-light-bg;
  }
}