//----------------------------------------------
//  site-header
//  Our main header element and navigations
//
//  @group site-header
//----------------------------------------------
$header-height: 5em;
$header-height-sm: 4em;

.site-header {
  z-index: 9;
  position: fixed;
  top:0;
  display: block;
  width: 100%;
  padding: 1em 0;
  color: $color-white;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease;
  @include engineGPU('position');

  .scrolling-down &{
    animation: nav-up ease-in-out .3s .1s both;
  }

  .scrolling-up &{
    //transition: background-color 1s 0.4s ease;
    animation: nav-down ease-in-out .3s .1s both;
  }

  .is-exiting.scrolling-up &{
    opacity: 0;
    transition: opacity 0.75s 0.5s ease;
  }

  .scrolling-down &, .scrolling-up &{
    background: $color-dark;
    color: #fff;

    .is-exiting &{
      background-color: rgba(0,0,0,0);
      transition: background-color 0.7s ease;
    }
  }


  .theme-light &{
    color: $color-dark;
    background-color: $color-lightgrey;
  }

  .theme-dark-light.scrolling-down &, 
  .theme-dark-light.scrolling-up &{
    background: $color-lightgrey;
    color: $color-dark;
  }


  body.close-to-top &,
  body.scrolling-up.close-to-top &, 
  body.at-top &{
    background-color: rgba(0,0,0,0);
  }

  
  &__grid{
    position: relative;
    display: flex;
    align-content: center;
    margin: 0 auto;
    width: $grid-max-width-xl;
    max-width: $grid-max-width-xl;
  }


//----------------------------------------------
//  Site-Header__Brand (logo)
//  Logo link wrap and logo svg.
//----------------------------------------------
  &__logo{
    @include link-styles($color-light, $color-white);
    
    .icon-shield{
      font-size: 1.5em;
    }

    .theme-light &{
      @include link-styles($color-dark, $color-grey);
    }
  }

//----------------------------------------------
//  Site-Header__Nav
//----------------------------------------------
  &__nav{
    display: flex;
    margin-left: auto;
    $color-current: currentColor;

    a{
      opacity: 0;
      @include link-nav();
      margin-left: 1em;
      padding: 0 0.1em;
      text-transform: lowercase;

      .is-exiting &, .is-loaded.is-exiting &{
        opacity: 0;
        transition: opacity 1s ease;
        @include nth-trans-delay(4, 0.2s);
      }


      .is-loaded &{
        opacity: 1;
        transition: opacity 1s ease;
        @include nth-trans-delay(4, 0.15s);
      }
    }
  }
}

@keyframes nav-down {
  0%   { transform: translate3d(0,-$header-height,0); }
  100% { transform: translateed(0,0,0); }
}
@keyframes nav-up {
  0%   { transform: translate3d(0,0,0); }
  100% { transform: translate3d(0,-$header-height,0); }
}
